.container {
    width: 1288px;
    padding: 46px 244px 100px;
    border-left: 2px solid #e4e4e4;
    border-right: 2px solid #e4e4e4;
    margin: 0 auto;
    box-sizing: border-box;
}
/* 頭像 */
#avatar {
    width: 88px;
    height: 88px;
    display: inline-block;
    background: url("../images/icon/avatar.svg") no-repeat center / cover;
    vertical-align: bottom;
}
/* 變更鈕 */
button {
    width: 66px;
    height: 32px;
    border: none;
    border-radius: 16px;
    margin-top: 30px;
    transition: 0.3s;
}
button:hover{
    background-color: #F1942E;
}
/* 個人資料、付款設定 */
.box {
    display: flex;
    justify-content: space-between;
}

.info,
.pay {
    width: 360px;
}
/* 標題 */
h4 {
    padding-bottom: 14px;
    border-bottom: 2px solid #ef8119;
    margin: 30px 0 18px;
}
/* 個人資料 input名稱 */
.info p {
    margin: 8px 0;
}
/* input 單行、多行 */
input,
textarea {
    width: 356px;
    line-height: 38px;
    text-indent: 1rem;
    color: #858585;
    border: 2px solid #e4e4e4;
    border-radius: 8px;
}
/* 常用卡片 */
.card {
    width: 94px;
    line-height: 32px;
    text-align: center;
    border: 2px solid #ef8119;
    border-radius: 6px;
    margin-top: 20px;
}
/* 付款設定 */
.pay p {
    margin: 30px 0;
}
/* 付款設定 名稱 */
.pay p span:first-child {
    display: inline-block;
    width: 110px;
}
.issuer{
    display: inline-block;
    background: url("../images/icon/visa-s.svg") no-repeat 0 0;
    text-indent: 60px;
}
/* 個人資料、付款設定 變更鈕 */
.info button,
.pay button {
    float: right;
    transition: 0.3s;
}
.info button:hover,
.pay button:hover{
    background-color: #F1942E;
}